In [23]:
import pandas as pd

# Load your merged CSV file
merged_file = 'merged_file.csv'  # Replace with the actual file path
merged_df = pd.read_csv(merged_file)

# Find rows where both hard_skills and soft_skills are empty
empty_skills_rows = merged_df[(merged_df['hard_skills'].isna() | (merged_df['hard_skills'] == '')) & 
                              (merged_df['soft_skills'].isna() | (merged_df['soft_skills'] == ''))]

# Get the row numbers where both columns are empty
row_numbers = empty_skills_rows.index.tolist()

print("Row numbers where both hard_skills and soft_skills are empty:", row_numbers)

Row numbers where both hard_skills and soft_skills are empty: [76, 318, 393, 437, 757, 778, 1255, 1261, 1397, 1750, 1897, 1949, 2018, 2046, 2053, 2102, 2127, 2150, 2204, 2335, 2419, 2432, 2543, 2568, 2611, 2631, 2633, 2690, 2702, 2758, 2973, 3014, 3452, 3488, 3674, 3946, 3967, 4289, 4796, 4971, 5021, 5072, 5075, 5194, 5223, 5541, 5910, 5916, 5917, 6087, 6101, 6456, 6534, 6787, 7080, 8069, 8840, 8991, 8994, 9003, 9035, 9127, 9132, 9169, 9185, 9201, 9211, 9222, 9277, 9280, 9318, 9319, 9335, 9370, 9426, 9478, 9483, 9516, 9535, 9543, 9551, 9599, 9664, 9666, 9674, 9689, 9693, 9710, 9718, 9730, 9761, 9779, 9821, 9827, 9848, 9852, 9861, 9866, 9900, 9979, 9982, 10082, 10090, 10106, 10166, 10287, 10348, 10364, 10428, 10446, 10463, 10485, 10510, 10520, 10536, 10670, 10694, 10710, 10787, 10792, 10800, 10805, 10920, 10937, 10965, 10972, 10982, 10990, 11049, 11065, 11105, 11138, 11139, 11143, 11145, 11250, 11283, 11302, 11313, 11317, 11320, 11339, 11407, 11411, 11426, 11460, 11490, 11508, 11509, 11515, 11521, 11546, 11596, 11726, 11762, 12280, 12966, 13034, 13100, 13125, 13611, 13698, 13833, 14317, 14318, 14319, 14320, 14321, 14322, 14323, 14324, 14325, 14326, 14327, 14328, 14329, 14330, 14331, 14332, 14333, 14334, 14335, 14336, 14337, 14338, 14339, 14340, 14341, 14342, 14343, 14344, 14345, 14346, 14347, 14348, 14349, 14350, 14351, 14352, 14353, 14354, 14355, 14356, 14357, 14358, 14359, 14360, 14361, 15859, 16058, 16200, 16415, 16537, 16546, 16661, 17167, 17442, 17526, 17556, 17881, 17982]

In [24]:
# List of row numbers to delete
rows_to_delete = [76, 318, 393, 437, 757, 778, 1255, 1261, 1397, 1750, 1897, 1949, 2018, 2046, 2053, 2102, 2127, 2150, 2204, 2335, 2419, 2432, 2543, 2568, 2611, 2631, 2633, 2690, 2702, 2758, 2973, 3014, 3452, 3488, 3674, 3946, 3967, 4289, 4796, 4971, 5021, 5072, 5075, 5194, 5223, 5541, 5910, 5916, 5917, 6087, 6101, 6456, 6534, 6787, 7080, 8069, 8840, 8991, 8994, 9003, 9035, 9127, 9132, 9169, 9185, 9201, 9211, 9222, 9277, 9280, 9318, 9319, 9335, 9370, 9426, 9478, 9483, 9516, 9535, 9543, 9551, 9599, 9664, 9666, 9674, 9689, 9693, 9710, 9718, 9730, 9761, 9779, 9821, 9827, 9848, 9852, 9861, 9866, 9900, 9979, 9982, 10082, 10090, 10106, 10166, 10287, 10348, 10364, 10428, 10446, 10463, 10485, 10510, 10520, 10536, 10670, 10694, 10710, 10787, 10792, 10800, 10805, 10920, 10937, 10965, 10972, 10982, 10990, 11049, 11065, 11105, 11138, 11139, 11143, 11145, 11250, 11283, 11302, 11313, 11317, 11320, 11339, 11407, 11411, 11426, 11460, 11490, 11508, 11509, 11515, 11521, 11546, 11596, 11726, 11762, 12280, 12966, 13034, 13100, 13125, 13611, 13698, 13833, 14317, 14318, 14319, 14320, 14321, 14322, 14323, 14324, 14325, 14326, 14327, 14328, 14329, 14330, 14331, 14332, 14333, 14334, 14335, 14336, 14337, 14338, 14339, 14340, 14341, 14342, 14343, 14344, 14345, 14346, 14347, 14348, 14349, 14350, 14351, 14352, 14353, 14354, 14355, 14356, 14357, 14358, 14359, 14360, 14361, 15859, 16058, 16200, 16415, 16537, 16546, 16661, 17167, 17442, 17526, 17556, 17881, 17982]

# Delete the specified rows
merged_df.drop(rows_to_delete, inplace=True)

# Reset the index to have continuous row numbers
merged_df.reset_index(drop=True, inplace=True)

# Save the modified DataFrame to a new CSV file or overwrite the existing one
merged_df.to_csv("1.9_dataset.csv", index=False)

In [25]:
# Load your merged CSV file
file = '1.7_dataset.csv' 
df = pd.read_csv(file)

In [26]:
# Delete the specified rows
df.drop(rows_to_delete, inplace=True)

# Reset the index to have continuous row numbers
df.reset_index(drop=True, inplace=True)

# Save the modified DataFrame to a new CSV file or overwrite the existing one
df.to_csv("1.9.1_dataset.csv", index=False)

In [29]:
# List of columns to delete
columns_to_delete = ["title_category_level", "title_category_domain", "processed_description"]

# Delete the specified columns
df.drop(columns=columns_to_delete, inplace=True)

# Save the modified DataFrame to a new CSV file or overwrite the existing one
df.to_csv("1.9.2_dataset.csv", index=False)

In [30]:
file = '1.9_dataset.csv' 
df = pd.read_csv(file)

other_df = pd.read_csv('1.9.2_dataset.csv')

# Extract the "hard_skills" and "soft_skills" columns from df
skills_df = df[["hard_skills", "soft_skills"]]

# Concatenate the skills_df with other_df along the columns axis
result_df = pd.concat([other_df, skills_df], axis=1)

# Now, result_df contains your other dataset with the "hard_skills" and "soft_skills" columns added

# You can save the resulting DataFrame to a new CSV file if needed
result_df.to_csv("1.9.3_dataset.csv", index=False)