In [56]:
import pandas as pd

In [57]:
data = pd.read_csv('1.0_dataset.csv')

In [58]:
import re

# Function to convert salary ranges to a uniform yearly salary format
def convert_salary(salary):
    if salary == 'Not specified':
        return salary
    
    # Convert decimal numbers to integers
    salary = re.sub(r'(\d+)\.\d+', r'\1', salary)
    
    if 'hour' in salary:
        # Extract hourly wage values
        hour_match = re.match(r'(\d+(?:\.\d+)?)–(\d+(?:\.\d+)?) an hour', salary)
        if hour_match:
            lower = int(float(hour_match.group(1)) * 40 * 52)
            upper = int(float(hour_match.group(2)) * 40 * 52)
            return f'{lower}-{upper} a year'
        else:
            hourly_rate = int(float(salary.replace(' an hour', '')) * 40 * 52)
            return f'{hourly_rate} a year'
    
    if 'year' in salary:
        # Extract yearly salary values
        year_match = re.match(r'([\d,]+)–([\d,]+) a year', salary)
        if year_match:
            lower = int(year_match.group(1).replace(',', ''))
            upper = int(year_match.group(2).replace(',', ''))
            return f'{lower}-{upper} a year'
    
    # Convert K to thousands
    if 'K' in salary:
        salary = salary.replace('K', '000')
    
    # Extract salary values
    salary_match = re.match(r'(\d+)–(\d+)', salary)
    if salary_match:
        lower = int(salary_match.group(1))
        upper = int(salary_match.group(2))
        return f'{lower}-{upper} a year'
    
    # Single salary value
    return salary

# Apply the convert_salary function to the 'salary' column
data['salary'] = data['salary'].apply(convert_salary)

In [59]:
# Save the modified dataset to a CSV file
data.to_csv('1.1_dataset.csv', index=False)

In [67]:
data = pd.read_csv('1.1_dataset.csv')

In [68]:
# Check for missing values
print('Missing values:')
print(data.isnull().sum())

Missing values:
title           0
location       14
salary          0
platform        2
description     0
dtype: int64

In [69]:
# Remove rows with missing values
data_cleaned = data.dropna()

# Check if missing values are removed
print('Missing values after cleaning:')
print(data_cleaned.isnull().sum())

# Save the cleaned dataset to a CSV file
data_cleaned.to_csv('1.2_dataset.csv', index=False)

Missing values after cleaning:
title          0
location       0
salary         0
platform       0
description    0
dtype: int64

In [28]:
import pandas as pd
data = pd.read_csv('1.2_dataset.csv')

In [29]:
# Remove leading and trailing spaces from all columns
data_cleaned = data.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [30]:
# Filter rows based on salary condition
filtered_rows = data_cleaned[~((data_cleaned['salary'] == 'Not specified') | data_cleaned['salary'].str.endswith('a year'))]

# Display the filtered rows
print(filtered_rows)

                                                   title         location  \
1839                  Development Data Analyst (Analyst)  Kansas City, MO
1840   Senior Development Data Analyst (Development S...  Kansas City, MO
8490                            Research Data Analyst II         Anywhere
14742                   Data Analyst (Remote) - (822954)         Anywhere
15821                       RESEARCH DATA SPECIALIST III         Anywhere

                    salary  platform  \
1839   4,619–6,928 a month    Indeed
1840   5,173–7,759 a month    Indeed
8490   5,793–7,256 a month    Indeed
14742        6,355 a month  LinkedIn
15821  7,315–9,155 a month  LinkedIn

                                             description
1839   Pay,Benefits, & Work Schedule\n\nFull-time pos...
1840   Pay,Benefits, & Work Schedule\n\nFull-time pos...
8490   The CA. Department of Social Services' Researc...
14742  Data Analyst IV (Remote)\n\nTexas Workforce Co...
15821  About the DFPI\n\nThe Department of Financial ...

In [31]:
def convert_salary(salary_str):
    if "a month" in salary_str:
        parts = salary_str.split('–')
        if len(parts) == 2:
            min_salary = int(parts[0].replace(',', ''))
            max_salary = int(parts[1].split()[0].replace(',', ''))
            min_annual_salary = min_salary * 12
            max_annual_salary = max_salary * 12
            return f'{min_annual_salary}-{max_annual_salary} a year'
        else:
            salary = int(parts[0].split()[0].replace(',', '')) * 12
            return f'{salary} a year'
    else:
        return salary_str
    
# 在"salary"列应用转换函数
data_cleaned['salary'] = data_cleaned['salary'].apply(convert_salary)

In [32]:
# Save the cleaned dataset to a CSV file
data_cleaned.to_csv('1.3_dataset.csv', index=False)

In [33]:
data = pd.read_csv('1.3_dataset.csv')

In [34]:
# Filter rows based on salary condition
filtered_rows = data_cleaned[~((data_cleaned['salary'] == 'Not specified') | data_cleaned['salary'].str.endswith('a year'))]

# Display the filtered rows
print(filtered_rows)

Empty DataFrame
Columns: [title, location, salary, platform, description]
Index: []