In [3]:
import pandas as pd
import re
data = pd.read_csv('1.3_dataset.csv')

In [4]:
# Define a function to check if the title meets the condition
def has_salary_info(title):
    return re.search(r'\$([\d,]+)', title) is not None

# Create a list to store the rows with matching titles
matching_rows = []

# Check all titles and store matching rows
for index, row in data.iterrows():
    if has_salary_info(row['title']):
        matching_rows.append(index)

# Print the titles and corresponding row indices
for index in matching_rows:
    print(f"Row {index}: {data.loc[index, 'title']}")

Row 4: Product Data Analyst (Remote) ($80000.00 - $90000.00 / year)
Row 65: Sr. RCM, Patient Access, Data Analyst - Remote ($67800.00 ...
Row 423: Lead Sr. Data Analyst (Remote) ($62974.88 - $107010.20 / year)
Row 432: Technical Demand Planning Data Analyst - Remote US ($63700.00 ...
Row 449: Senior Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 480: Senior Risk Adjustment Data Analyst - REMOTE ($82058.00 / year)
Row 508: Data Analyst II - US Remote ($6258.00 - $7823.00 / month)
Row 523: Expert Risk Adjustment Data Analyst - REMOTE ($99290.00 / year)
Row 762: Remote IT Data Analyst/Power BI II (Mid-Level) ($60000.00 ...
Row 765: Lead Pharmacy Data Analyst (Remote) ($93600.00 - $185900.00 / year)
Row 772: Environmental Data Analyst – Mid/Senior Level (Remote) ($96000.00...
Row 774: Remote Healthcare Data Analyst ($28.85 / hour)
Row 1781: Boolean Search Data Analyst | $54,000-$108,000+ | Forbes Top 100...
Row 2883: Junior Data Analyst (Remote) ($75000.00 - $125000.00 / year)
Row 2884: Marketing Data Analyst (Remote) ($84000.00 - $94000.00 / year)
Row 3387: Entry Level Data Analyst (Remote) ($85000.00 - $135000.00 / year)
Row 3399: Data Analyst (Remote) ($100000.00 - $130000.00 / year)
Row 3408: Data Analyst (Remote) ($80000.00 - $120000.00 / year)
Row 3410: Sr Revenue Cycle Data Modeling Analyst - Remote ($67800.00 ...
Row 3412: Data Analyst (Remote) ($100000.00 - $130000.00 / year)
Row 3413: Credit Data Analyst - Potential for remote ($125055.00 / year)
Row 3423: Senior Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 3428: Senior Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 3431: Remote Jr. Reporting Data Analyst ($27.88 - $28.85 / hour)
Row 3434: Environmental Data Analyst – Mid/Senior Level (Remote) ($96000.00...
Row 3437: Senior Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 3438: Senior Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 3470: Vendor Management Data Analyst-Senior - Remote Contract! ($55.00 ...
Row 3520: Sr Data Analyst - Remote ($85000.00 - $167300.00 / year)
Row 3521: Senior Analyst, Merch Analytics - Remote ($87100.00 - $130700.00 ...
Row 3523: EDI Data Analyst/Business Systems Analyst III (Remote) ($81200.00...
Row 3524: Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 3525: Senior Data Analyst - Remote Eligible ($36.20 - $55.26 / hour)
Row 3533: Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 3552: Senior Data Analyst - Remote ($85000.00 - $167300.00 / year)
Row 3553: Senior Data Analyst - Remote ($85000.00 - $167300.00 / year)
Row 3564: Environmental Data Analyst - Mid/Senior Level (Remote) ($96000.00...
Row 3573: Workforce Optimization Data Analyst (remote) ($70000.00 ...
Row 3575: Technical Demand Planning Data Analyst - Remote US ($63700.00 ...
Row 3582: Data Analyst(Remote) ($75000.00 - $100000.00 / year)
Row 3584: Data Analyst(Remote) ($75000.00 - $100000.00 / year)
Row 3660: Junior Data Analyst (Remote) ($82000.00 - $140000.00 / year)
Row 3675: Data Analyst - Remote ($67800.00 - $133100.00 / year)
Row 3913: Database Analyst Senior - TS/SCI clearance required - $10K SIGN-ON...
Row 4196: Senior Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 4218: Senior Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 4225: JUNIOR DATA ANALYST (REMOTE) ($75000.00 - $150000.00 / year)
Row 5268: Qlik/Power BI Data Analyst | $130K-$150K + ESOP |100% USA-Remote
Row 5499: Minimum $10k Sign-On Bonus Electro-Optical Sensor/Seeker Data...
Row 6082: Clinical Informatics Analyst - $5,000.00 Sign-On Bonus!
Row 6356: Minimum $10k Sign-On Bonus Electro-Optical Sensor/Seeker Data...
Row 6380: Senior IT Business Data Analyst | Onsite - Tulsa, OK | $100k - $130k
Row 7812: Minimum $10k Sign-On Bonus Electro-Optical Sensor/Seeker Data...
Row 8020: Remote: Data Governance Analyst//Pay rate: $40.75/hr
Row 8192: Healthcare Finance Data Analyst - $24-28/hr
Row 11677: Work from Home Data Analyst ($33/hour)
Row 11682: Entry Level Remote Data Analyst ($35/hour)
Row 12105: MarketCARES Senior Provider Data Analyst - Remote ($27.07 - $53.08...
Row 13189: Data Analyst, Supply Chain Operations -(Full Time) $350 PD
Row 13529: IT Data Analyst $66K
Row 13764: Sr Data Analyst ($80/hr) - Remote Work
Row 13800: Data Engineer – Remote position – Up to $130k Base + 10% bonus!
Row 13819: Marketing Data Analyst $26$29 HR FT
Row 13882: IT HR Data Analyst $26$30 FT
Row 14078: Sr Business Data Analyst ($75/hr++) - Remote Work
Row 14596: Data Analyst (Must have Telecom Exp) - REMOTE - $26 an hr - Only W2
Row 15162: IAM Data Analyst - Remote ($99365.00 - $116900.00 / year)
Row 15167: Sr. Clinical Data Analyst - Remote ($85000.00 - $167300.00 / year)
Row 15168: Sr. Data Analyst, Talent Analytics - Remote ($85000.00 ...
Row 15175: Senior Business Data Analyst, Revenue Cycle, Remote ($36.37 ...
Row 15176: Product Data Analyst (Remote) ($62000.00 - $70000.00 / year)
Row 15178: Data Analyst 1 - Remote ($56300.00 - $110400.00 / year)
Row 15179: HR Data Analyst (Mostly Remote) ($82900.00 / year)
Row 15180: Business Data Analyst - Remote Nationwide ($22.45 - $43.89 / hour)
Row 15188: Infrastructure Data Analyst - Remote - US ($78200.00 - $105600.00...
Row 15192: Data Analyst (Remote) ($100000.00 - $130000.00 / year)
Row 15196: Data Analyst - US Healthcare (REMOTE) ($92060.00 / year)
Row 15198: Research Data Analyst- Hybird/Remote - 122636 ($63000.00 ...
Row 15199: Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 15200: Senior Data Analyst (remote) ($81666.00 - $115934.00 / year)
Row 15212: Data Analyst - Remote ($67800.00 - $133100.00 / year)
Row 15213: Provider Data Analyst - Remote ($22.45 - $43.89 / hour)
Row 15218: Data Analyst - Remote ($67800.00 - $133100.00 / year)
Row 15219: eCommerce Data Analyst | $110K-$130K + Full Benefits | 100...
Row 15221: Data Analyst (Hybrid/ Not fully remote) ($58000.00 / year)
Row 15222: Sr Provider Data Analyst - Remote ($27.07 - $53.08 / hour)
Row 15230: Senior Healthcare Data Analyst - REMOTE ($87447.00 - $125689.00 ...
Row 15253: Remote Credit Risk Data Analyst ($110000.00 - $130000.00 / year)
Row 15274: Medicare STARS Pharmacy Sr Data Analyst - Remote ($85000.00 ...
Row 15277: Medicare STARS Pharmacy Sr Data Analyst - Remote ($85000.00 ...
Row 15306: SENIOR DATA ANALYST - CLT/REMOTE ($65000.00 - $80000.00 / year)
Row 15490: Senior Data Conversion Analyst - Remote ($101200.00 - $184000.00 ...
Row 15791: Cisco Commerce Data Analyst-$45/hr
Row 16298: Contract Data Scientist/Engineer - $125 p/h
Row 18234: Business Intelligence Analyst (Marketing) $40/hour

In [5]:
# ($80000.00 - $90000.00 / year)
# ($67800.00 ...
# ($82058.00 / year)
# ($6258.00 - $7823.00 / month)
# ($28.85 / hour)
# ($27.88 - $28.85 / hour)
# $40.75/hr
# ($33/hour)
# $125 p/h
# ($75/hr++)

In [6]:
# import re
# salaries = re.findall(r'\d+(?:,\d{3})*\.\d{2}', salary_text)
# print(salaries)

In [7]:
import re

total_salary_groups = 0
def convert_to_yearly(salary_text):
    global total_salary_groups
    # Extract numerical values from the salary_text
    # salaries = re.findall(r'\d+(?:,\d{3})*\.\d{2}', salary_text)
    salaries = re.findall(r'\d+(?:,\d{3})*(?:\.\d{2})?', salary_text)

    print(salaries)
    
    if len(salaries) == 2:
        total_salary_groups += 1 
        lower_salary = float(salaries[0].replace(',', ''))
        upper_salary = float(salaries[1].replace(',', ''))
        
        # Convert hourly rate to yearly (assuming 40 hrs/week and 52 weeks/year)
        if '/ year' in salary_text:
            yearly_lower = lower_salary
            yearly_upper = upper_salary
        elif '/ month' in salary_text:
            yearly_lower = lower_salary * 12
            yearly_upper = upper_salary * 12
        elif '/ hour' in salary_text:
            yearly_lower = lower_salary * 40 * 52
            yearly_upper = upper_salary * 40 * 52
        elif '/hour' in salary_text:
            yearly_lower = lower_salary * 40 * 52
            yearly_upper = upper_salary * 40 * 52
        elif '/hr' in salary_text:
            yearly_lower = lower_salary * 40 * 52
            yearly_upper = upper_salary * 40 * 52
        elif 'p/h' in salary_text:
            yearly_lower = lower_salary * 40 * 52
            yearly_upper = upper_salary * 40 * 52
        else:
            return None
        return f'{int(yearly_lower)}-{int(yearly_upper)} a year'
    elif len(salaries) == 1:
        total_salary_groups += 1 
        # Convert yearly salary without range
        yearly_salary = float(salaries[0].replace(',', ''))
        yearly_lower = yearly_upper = yearly_salary
        if '/ month' in salary_text:
            yearly_salary = yearly_salary * 12
        elif '/ hour' in salary_text:
            yearly_salary = yearly_salary * 40 * 52
        elif '/hour' in salary_text:
            yearly_salary = yearly_salary * 40 * 52
        elif '/hr' in salary_text:
            yearly_salary = yearly_salary * 40 * 52
        elif 'p/h' in salary_text:
            yearly_salary = yearly_salary * 40 * 52
        yearly_lower = yearly_upper = yearly_salary   
        return f'{int(yearly_salary)} a year'
        
    else:
        return None


# # Identify rows with salary information in the title
# salary_rows = data[data['title'].str.contains(r'\$\d+(?:,\d{3})*\.\d{2}', na=False)]
r'\$\d+(?:,\d{3})*(\.\d{2})?|\$\d+'
salary_rows = data[data['title'].str.contains(r'\$\d+(?:,\d{3})*(\.\d{2})?|\$\d+', na=False)]
# Extract and convert the salary information
salary_rows['salary'] = salary_rows['title'].apply(convert_to_yearly)

# Update the salary column in the main dataset
data.update(salary_rows)

print(total_salary_groups)

NameError: name 'salary_rows' is not defined

In [8]:
# Check for missing values
print('Missing values:')
print(data.isnull().sum())

Missing values:
title          0
location       0
salary         0
platform       0
description    0
dtype: int64

In [28]:
# Save the modified dataset to a CSV file
data.to_csv('1.4_dataset.csv', index=False)

In [29]:
# Check for missing values
print('Missing values:')
print(data.isnull().sum())

Missing values:
title          0
location       0
salary         0
platform       0
description    0
dtype: int64